In [32]:
import pandas as pd
s1 = pd.read_csv("C:/Users/Ashwin/Documents/topmentor/Batch-59-Datasets-main./Salary_Data.csv")
s1.head()

   YearsExperience   Salary
0              1.1  39343.0
1              1.3  46205.0
2              1.5  37731.0
3              2.0  43525.0
4              2.2  39891.0

In [33]:
s1.shape

(30, 2)

X is independant variable , Y is dependent variables

In [37]:
X = s1.iloc[:,:-1].values
X

array([[ 1.1],
       [ 1.3],
       [ 1.5],
       [ 2. ],
       [ 2.2],
       [ 2.9],
       [ 3. ],
       [ 3.2],
       [ 3.2],
       [ 3.7],
       [ 3.9],
       [ 4. ],
       [ 4. ],
       [ 4.1],
       [ 4.5],
       [ 4.9],
       [ 5.1],
       [ 5.3],
       [ 5.9],
       [ 6. ],
       [ 6.8],
       [ 7.1],
       [ 7.9],
       [ 8.2],
       [ 8.7],
       [ 9. ],
       [ 9.5],
       [ 9.6],
       [10.3],
       [10.5]])

In [38]:
y = s1.iloc[:,1].values
y.shape

(30,)

In [8]:
from sklearn.model_selection import train_test_split

In [14]:
X_train,X_test,y_train,y_test = train_test_split(X,y)

In [40]:
X_train.shape,X_test.shape

((22, 1), (8, 1))

In [41]:
y_train.shape,y_test.shape

((22,), (8,))

# linear regression model

In [43]:
from sklearn.linear_model import LinearRegression

In [44]:
model = LinearRegression() ## y = mx + c
model

LinearRegression()

In [48]:
training = model.fit(X_train,y_train) ## we  required label and raw data
print("the training of model is completed")

the training of model is completed

In [52]:
m =training.coef_

In [53]:
c =training.intercept_

In [55]:

y = m*X + c
y

array([[ 34138.68187604],
       [ 36114.60127949],
       [ 38090.52068294],
       [ 43030.31919157],
       [ 45006.23859502],
       [ 51921.9565071 ],
       [ 52909.91620883],
       [ 54885.83561228],
       [ 54885.83561228],
       [ 59825.6341209 ],
       [ 61801.55352435],
       [ 62789.51322608],
       [ 62789.51322608],
       [ 63777.4729278 ],
       [ 67729.31173471],
       [ 71681.15054161],
       [ 73657.06994506],
       [ 75632.98934851],
       [ 81560.74755886],
       [ 82548.70726059],
       [ 90452.38487439],
       [ 93416.26397957],
       [101319.94159337],
       [104283.82069855],
       [109223.61920717],
       [112187.49831235],
       [117127.29682098],
       [118115.2565227 ],
       [125030.97443478],
       [127006.89383823]])

X is here year of exerience
we can predict the things by giving the year of experience

In [62]:
x1 = 5 
y1 = m*x1+c 
y1  ## this is predicted salary for 5 year

array([72669.11024333])

In [64]:
## find accuracy or validating through prediction
pred = model.predict(X_test)
pred

array([ 61801.55352435,  62789.51322608, 112187.49831235,  59825.6341209 ,
       127006.89383823,  75632.98934851,  36114.60127949,  54885.83561228])

In [68]:
## for validation
## residuals 
## actual - predicted Data
val = pd.DataFrame({'Acutal Data': y_test,'predicted Data':pred,'residuals': y_test - pred})
val

   Acutal Data  predicted Data     residuals
0      63218.0    61801.553524   1416.446476
1      55794.0    62789.513226  -6995.513226
2     105582.0   112187.498312  -6605.498312
3      57189.0    59825.634121  -2636.634121
4     121872.0   127006.893838  -5134.893838
5      83088.0    75632.989349   7455.010651
6      46205.0    36114.601279  10090.398721
7      64445.0    54885.835612   9559.164388

In [69]:
val.residuals.sum() 
#it is neccesary to nearest one

7148.4807378024125

#    Tunning of the data
by LinearRegression(n_jobs)
reduce the train-test_split(test_size= )
Do It U R Self Or watch 28 feb video of 45 Min

# to reduce errors  By metrics

In [73]:
from sklearn.metrics import r2_score,mean_absolute_error,mean_squared_error
r2_score(y_test,pred)
## this is accuracy of modell 0.92

0.9240942613777232

In [75]:
errors = 1 - r2_score(y_test,pred)
errors

0.07590573862227679

In [78]:
a1 = mean_absolute_error(y_test,pred)
errors = 1 - a1 
errors

-6235.694966616575

In [79]:
a2 = mean_squared_error(y_test,pred)
errors = 1 - a2
errors

-47083256.75383612

now try to check with the increse or decrese with data test size