In [1]:
import pandas as pd

In [2]:
df = pd.read_csv('C:/Users/Ashwin/Documents/topmentor/Batch-59-Datasets-main/Uber_raw_2019.csv')

In [3]:
df.head()

          Date/Time      Lat      Lon    Base
0  09-01-2019 00:01  40.2201 -74.0021  B02512
1  09-01-2019 00:01  40.7500 -74.0027  B02512
2  09-01-2019 00:03  40.7559 -73.9864  B02512
3  09-01-2019 00:06  40.7450 -73.9889  B02512
4  09-01-2019 00:11  40.8145 -73.9444  B02512

In [10]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 409565 entries, 0 to 409564
Data columns (total 4 columns):
 #   Column     Non-Null Count   Dtype
---  ------     --------------   -----
 0   Date/Time  409565 non-null  datetime64[ns]
 1   Lat        409565 non-null  float64
 2   Lon        409565 non-null  float64
 3   Base       409565 non-null  object
dtypes: datetime64[ns](1), float64(2), object(1)
memory usage: 12.5+ MB

In [5]:
df['Date/Time'] = pd.to_datetime(df['Date/Time'])

In [8]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 409565 entries, 0 to 409564
Data columns (total 4 columns):
 #   Column     Non-Null Count   Dtype
---  ------     --------------   -----
 0   Date/Time  409565 non-null  datetime64[ns]
 1   Lat        409565 non-null  float64
 2   Lon        409565 non-null  float64
 3   Base       409565 non-null  object
dtypes: datetime64[ns](1), float64(2), object(1)
memory usage: 12.5+ MB

In [9]:
df.head()

            Date/Time      Lat      Lon    Base
0 2019-09-01 00:01:00  40.2201 -74.0021  B02512
1 2019-09-01 00:01:00  40.7500 -74.0027  B02512
2 2019-09-01 00:03:00  40.7559 -73.9864  B02512
3 2019-09-01 00:06:00  40.7450 -73.9889  B02512
4 2019-09-01 00:11:00  40.8145 -73.9444  B02512

In [19]:
df['year'] = pd.to_datetime(df['Date/Time']).dt.year

df['month'] = pd.to_datetime(df['Date/Time']).dt.month

In [20]:
df['day'] =pd.to_datetime(df['Date/Time']).dt.day

In [21]:
df['hours'] = pd.to_datetime(df['Date/Time']).dt.hour

In [22]:
df['weekday']=pd.to_datetime(df['Date/Time']).dt.weekday

In [17]:
df['date']=pd.to_datetime(df['Date/Time']).dt.date

In [23]:
df.head()

,Date/Time,Lat,Lon,Base,date,year,month,day,hours,weekday
0,2019-09-01 00:01:00,40.2201,-74.0021,B02512,2019-09-01,2019,9,1,0,6
1,2019-09-01 00:01:00,40.7500,-74.0027,B02512,2019-09-01,2019,9,1,0,6
2,2019-09-01 00:03:00,40.7559,-73.9864,B02512,2019-09-01,2019,9,1,0,6
3,2019-09-01 00:06:00,40.7450,-73.9889,B02512,2019-09-01,2019,9,1,0,6
4,2019-09-01 00:11:00,40.8145,-73.9444,B02512,2019-09-01,2019,9,1,0,6

In [24]:
df.groupby('day').size()

day
1     19961
2     28831
3     32631
4     38360
5     42319
6     40520
7     30134
8     30360
9     34560
10    35910
11    36439
12    39540
dtype: int64

In [25]:
type(df)

pandas.core.frame.DataFrame